@media screen and (max-width: 991px) {
  .container {
    margin-left: 3rem;
    margin-right: 3rem;
    padding-block: 1rem;
  }
}

@media screen and (max-width: 900px) {
  .hamburger {
    display: block;
  }
  .second-half ul {
    position: absolute;
    background-color: var(--secondary-gray-color);
    left: -100%;
    top: 3rem;
    width: 100%;
    padding-block: 20px;
    transition: 0.2s ease-in-out;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
  }
  .nav-links.active {
    left: 0;
  }
}
@media screen and (max-width: 936px) {
  .cards {
    justify-content: center;
    gap: 2rem;
  }
}

@media screen and (max-width: 800px) {
  .container {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding-block: 0.5rem;
  }
  .home-left {
    flex-basis: 90%;
  }
  .home {
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
      url("./img/mobile-img.png");
    color: var(--primary-white-color);
  }
  .home-left p {
    color: var(--primary-white-color);
  }
  .home-input {
    background-color: transparent;
    color: var(--primary-white-color);
  }
  .home-input::-webkit-input-placeholder {
    color: var(--primary-white-color);
  }
  .hide {
    display: none;
  }
  .apartment-head h2 {
    font-size: 1.3rem;
  }
  .card {
    width: calc(50% - 2rem);
    max-width: 50%;
  }
}
@media screen and (max-width: 460px) {
  .apartment-head h2 {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 430px) {
  .card {
    width: calc(90% - 1rem);
    max-width: 90%;
  }
}
