@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
/* css resets */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
:root {
  --primary-text-color: #2b313d;
  --secondary-text-color: #596172;
  --primary-gray-color: #949fb7;
  --secondary-gray-color: #e5e9f2;
  --background-gray-color: #f6f6f7;
  --primary-green-color: #25df8f;
  --primary-white-color: #ffffff;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
/* utility classes */
.flex {
  display: flex;
}
.container {
  margin-left: 5rem;
  margin-right: 5rem;
  padding-block: 1rem;
}
